.L_flag {
    width: 10px;
    height: 40px;
    background-color: #d4f0f0;
    display: inline-block;
}

.L_title {
    margin: auto 5px;
}

.L_listItem {
    display : flex;
    margin: 10px;
}

.L_leftList {
    width: 20%;
    display: inline-block;
    padding-right: 30px;
}